.card {
  display: flex;
  margin-top: -230px;
  margin-left: 300px;
  flex-direction: column;
  align-items: center;
  width: 900px;
  height: 540px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  padding: 20px;
  box-shadow: 0 0 10px 8px #0a5c5c;
}

.doctorImage {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 80px;
}

.title {
  margin-top: 5px;
  font-size: 24px;
  color: #0a5c5c;
}

.details {
  margin: 10px 0;
  color: #0a5c5c;
  font-size: 16px;
}

.logo {
  width: 400px;
  margin-top: 150px;
  margin-left: 30px;
}

.inputField {
  width: 60%;
  padding: 15px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.buttons {
  margin-top: 10px;
  width: 80px;
  height: 35px;
  font-size: 14px;
  border-radius: 8px;
  border: #0a5c5c;
  color: white;
  background-color: #0a5c5c;
}
