.container {
  background-image: url("../../../../public/girrafa.png");
  background-size: cover;
  background-position: center;
  margin-top: 100px;
  height: 90vh;
  width: 20%;
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileCard {
  background-color: #0a5c5c;
  padding: 10px;
  border-radius: 296px;
  box-shadow: 0px 16px 16px #808080;
  width: 600px;
  height: 300px;
  margin-right: -1300px;
  margin-bottom: 120px;
}

.profileCard h1 {
  margin-top: 40px;
  color: white;
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
}

.profileCard p {
  margin-left: 200px;
  font-size: 20px;
  line-height: 1.4;
  color: white;
}
