.container {
  background-image: url("../../../../public/girrafa.png");
  background-size: cover;
  background-position: center;
  margin-top: 100px;
  height: 90vh;
  width: 20%;
  margin-left: 100px;
  display: flex; /* Adăugați această linie */
  justify-content: center; /* Aceasta aliniază elementele pe orizontală */
  align-items: center; /* Aceasta aliniază elementele pe verticală */
}
.profileCard {
  background-color: white;
  padding: 20px;
  border-radius: 296px;
  box-shadow: 0px 16px 16px #006666;
  width: 600px;
  height: 300px;
  margin-right: -1600px;
  margin-bottom: 120px;
}

.profileCard h1 {
  margin-top: 40px;
  color: #006666;
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
}

.profileCard p {
  margin-left: 200px;
  font-size: 20px;
  line-height: 1.6;
}
