.servicesContainer {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 95vh;
  overflow: auto;
  scrollbar-width: none;
  margin-bottom: 50px;
}

.servicesContainer::-webkit-scrollbar {
  display: none;
}
