.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  margin-top: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 30px 26px #808080;
  padding: 50px;
  border-radius: 36px;
  height: 400px;
  width: 1000px;
  background-color: #f4f3f3;
}

h2 {
  font-size: 2em;
  color: #0a5c5c;
  align-self: center;
  margin-bottom: 15px;
  font-weight: bold;
}

p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #006666;
  margin-bottom: 20px;
}

ul {
  color: #006666;
  list-style-type: disc;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
  margin-left: 30px;
}
