.container {
  flex: 0 0 30%;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: center;
}

.card {
  margin: 30px;
  background-color: #a7d7c5;
  box-shadow: 0 6px 6px 2px #808080;
  padding: 30px;
  border-radius: 28px;
  height: 300px;
  width: 350px;
}

.column h2 {
  font-size: 20px;
  font-weight: bold;
  color: white;
  align-self: center;
  font-size: 1.5em;
}

.column p {
  font-size: 16px;
  color: white;
  margin-top: 5px;
  align-self: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.bold_text {
  font-weight: italic;
}

.span {
  display: inline-block;
  color: #006666;
  font-weight: bold;
  margin-right: 5px;
}

.button {
  border: none;
  padding: 10px 20px;
  width: 25%;
  align-self: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 40px;
  border-radius: 24px;
  cursor: pointer;
  transition-duration: 0.4s;
  background-color: #f8f9fa;
  color: #808080;
  box-shadow: 0 4px 8px 0;
}

.button:hover {
  background-color: #808080;
  color: white;
  box-shadow: 0 4px 8px 0;
}

.servicesList {
  color: white;
  list-style-type: disc;
  padding-left: 20px;
}

.servicesList li {
  margin-bottom: 10px;
  margin-left: 30px;
}

.logo {
  width: 60px;
  height: auto;
  margin: 10px auto;
  display: block;
  color: #006666;
}
