.doctor_page {
  display: flex;
  flex-direction: column;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url("../../../../public/hp-background.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: right;
  overflow: auto;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.doctor_page h1 {
  margin-top: 50px;
  color: #0a5c5c;
  font-size: 4em;
  margin-left: -700px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
}

.doctor_page p {
  color: #006666;
  margin-top: 0px;
  font-size: 1.9em;
  margin-left: -700px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
