.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url("/public/hp-background.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: right;
  overflow: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content p {
  font-size: 1.5em;
  color: white;
}

button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 24px;
  font-size: 1em;
  color: white;
  background: #5f9ea0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #006666;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  background-color: transparent;
}

.footer .facebook_icon {
  background-image: url("/public/facebook-icon.png");
}

.footer .twitter_icon {
  background-image: url("/public/twitter-icon.png");
}

.footer .instagram_icon {
  background-image: url("/public/instagram-icon.png");
}

.footer a {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 10px;
}

.schedule {
  margin-top: 30px; /* Increase the top margin to push the box down */
  margin-right: 10px;
  margin-bottom: 20x;
  margin-left: 150px;
  padding: 20px;
  border: 2px solid #008080;
  border-radius: 5px;
  background-color: white;
  color: #008080;
  max-width: 300px;
  max-height: 200px;
  overflow: auto;
  text-align: center;
  background-image: url("/public/schedule-icon.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 50px 50px;
  background-position: 5dvh 3cap;
}

.title {
  font-size: 3.5em;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 200px;
  color: #008080;
  text-shadow: 2px 2px 4px #006666;
}

.subtitle {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2em;
  text-align: initial;
  color: #006666;
  padding-left: 10px;
  margin: 0px 100px;
  margin-top: -40px;
}

.contact {
  margin-top: 20px;
  margin-right: 50px;
  text-align: right;
  color: #008080;
  text-transform: bold;
  font-weight: 200;
}

.title span {
  margin: 5px 5px;
  margin-top: 120px;
  display: inline-block;
  animation: move 0.5s ease forwards;
  padding: 0;
}

@keyframes move {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
