.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #808080;
}

.card {
  align-items: center;
  width: 800px;
  height: 600px;
  margin-top: 85px;
  background-color: #fff;
  border-radius: 22px;
  box-shadow: 0 12px 16px #006666;
  padding: 40px;
  overflow-y: auto;
  max-height: 72vh;
}

.card::-webkit-scrollbar {
  display: none;
}
.title {
  text-decoration: underline;
  margin-top: 5px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  font-size: 2.5em;
  color: #0a5c5c;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: bold;
}

.subtitle {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: 120px;

  font-style: italic;
  text-decoration: underline;
}
.subtitleHistory {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  font-style: italic;
  text-decoration: underline;
}

.details {
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 120px;
}

.form {
  display: flex;
  margin-top: 20px;
  padding: 20px;
}

.input {
  flex-grow: 1;
  padding: 15px;
  margin-right: 10px;
  border-radius: 12px;
  border: 1px solid #ddd;
}

.button {
  padding: 10px 20px;
  border-radius: 32px;
  border: none;
  background-color: #0a5c5c;
  color: #fff;
  cursor: pointer;
}

.list {
  list-style-type: disc;

  padding: 0;
  margin-left: 25px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.divider {
  display: flex;
  gap: 5px;
}

.detailsContainer {
  display: flex;
  justify-content: space-between;
}

.petDetails,
.ownerDetails {
  width: 50%;
}

.download {
  background-color: #0a5c5c;
  color: white;
  border: none;
  border-radius: 16px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download:hover {
  background-color: #088585;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
