.appointmentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  content: fixed;
}
.AppointmentPage {
  background-color: azure;
  margin-top: 150px;
  width: 93%;
  border-collapse: separate;
  border-spacing: 1px;
  font-size: 1.2em;
  table-layout: fixed;
}

.AppointmentPage th,
.AppointmentPage td {
  border: 1px solid #181616;

  padding: 20px;
  text-align: center;
  color: #008080;
  font-family: Roboto, sans-serif;
  font-style: bold;
}

.appointment {
  background-color: rgb(253, 47, 47);
}

.nextButton,
.prevButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  font-size: 4em;
  padding: 5px;
}

.nextButton::after {
  content: "➡";
  margin-right: 50px;
  color: #008080;
}

.prevButton::before {
  content: "⬅";
  margin-left: 60px;
  color: #008080;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.appointmentButton {
  background-color: rgb(253, 47, 47);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

.noDoctors {
  background-color: red;
}
