.appointmentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  content: fixed;
}
.AppointmentPage {
  background-color: azure;
  margin-top: 150px;
  width: 93%;
  border-collapse: separate;
  border-spacing: 1px;
  font-size: 1.2em;
  table-layout: fixed;
}

.AppointmentPage th,
.AppointmentPage td {
  border: 1px solid #181616;
  /* adaugă o bordură în jurul fiecărei celule */
  padding: 20px;
  text-align: center;
  color: #008080;
  font-family: Roboto, sans-serif;
  font-style: bold;
}

.appointment {
  background-color: rgb(
    253,
    47,
    47
  ); /* adaugă un fundal gri deschis pentru celulele cu programări */
}

.nextButton,
.prevButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  font-size: 4em;
  padding: 5px;
}

.nextButton::after {
  content: "➡";
  margin-right: 50px;
  color: #008080;
}

.prevButton::before {
  content: "⬅";
  margin-left: 60px;
  color: #008080;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_inner {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 80%;
}

.appointmentButton {
  background-color: rgb(253, 47, 47);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

.popup_app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_inner_app {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 16px;
  max-width: 300px;
  width: 80%;
  border-color: #006666;
}

.submitButton {
  background-color: #006666;
  color: white;
  border: none;
  margin-top: 20px;
  border-radius: 12px;
  width: 80px;
  height: 35px;
  padding: 5px;
  cursor: pointer;
  font-size: 1.1em;
}

.inputField {
  margin-top: 40px;
  border: 1px solid #006666;
  border-radius: 12px;
  width: 200px;
  height: 30px;
  padding: 5px;
}
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: #006666;
  border-radius: 8px;
  color: white;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin-top: 5px;
  margin-right: 10px;
}

.deleteButton {
  position: absolute;
  top: 10px;
  right: 40px;
  cursor: pointer;
  background-color: #006666;
  border-radius: 8px;
  color: white;
  width: 30px;
  height: 30px;
  padding: 5px;
  margin-top: 5px;
  margin-right: 10px;
}
