.container {
  height: 100vh;
  overflow: auto;
  scrollbar-width: none;
  background-color: #f4f3f3;
}
.container::-webkit-scrollbar {
  display: none;
}

.motto {
  position: relative;
  margin-left: 250px;
  font-size: 24px;
  font-weight: bold;
  margin-top: 140px;
  margin-bottom: 80px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2em;
  color: #0a5c5c;
  font-style: italic;
}

.adoption_cards_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 10px;
}

.adoption_cards_container::-webkit-scrollbar {
  display: none;
}

.adopt_button {
  position: absolute;

  margin-left: 850px;
  margin-top: -85px;
  width: 180px;
  height: 60px;
  border-radius: 22px;
  border: none;
  font-size: 0.6em;
  color: white;
  background-color: #0a5c5c;
}

.adopt_button:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px white;
}

.all_adoption,
.my_adoption {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: start;
  width: 100%;
}

.all_adoption h3,
.my_adoption h3 {
  font-size: 24px;
  color: #0a5c5c;
  margin-bottom: 20px;
  grid-column: span 3;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2em;
  margin-top: -50px;
  margin-left: 450px;
  margin-bottom: 50px;
  font-style: italic;
  font-weight: bold;
}

.button_group {
  display: flex;
  margin-left: 1055px;
  gap: 30px;
  margin-bottom: 5px;
}

.button_group button {
  width: 130px;
  height: 50px;
  border-radius: 16px;
  border: none;
  font-size: 1em;
  color: white;
  background-color: #0a5c5c;
}

.button_group button:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px white;
}
