.container {
  height: 100vh;
  overflow: auto;
  scrollbar-width: none;
  background-color: #f4f3f3;
}
.container::-webkit-scrollbar {
  display: none;
}

.motto {
  position: relative;
  margin-left: 250px;
  font-size: 24px;
  font-weight: bold;
  margin-top: 140px;
  margin-bottom: 80px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2em;
  color: #0a5c5c;
  font-style: italic;
}

.adoption_cards_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 10px;
}

.adoption_cards_container::-webkit-scrollbar {
  display: none;
}

.adopt_button {
  position: absolute;

  margin-left: 850px;
  margin-top: -85px;
  width: 180px;
  height: 60px;
  border-radius: 22px;
  border: none;
  font-size: 0.6em;
  color: white;
  background-color: #0a5c5c;
}
