.appointment_table {
  margin-top: 150px;
  width: 100%;
  border-collapse: collapse;
}

.appointment-table th,
.appointment-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.appointment-table th {
  background-color: #f2f2f2;
}
