.container {
  margin-top: 50px;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 3fr));
  gap: 35px;
  grid-auto-rows: 1fr;
  padding: 60px;
  height: 600px;
  margin-left: 0px;
  overflow: auto;
  background-color: #bdbcbc;
}
.container::-webkit-scrollbar {
  display: none;
}

.patient_card {
  margin-top: 100px;
  margin-left: 40px;
  border: 1px solid #ccc;
  border-radius: 22px;
  box-shadow: 0px 8px 8px 2px #0a5c5c;
  padding: 10px;
  width: 350px;
  background-color: #f4f3f3;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.patient_card h2 {
  text-align: center;
  margin: 15px 10px 30px;
  font-style: italic;
  font-size: 2.2em;
  color: #0a5c5c;
  text-decoration: underline;
}

.patient_card p {
  margin-left: 20px;
  font-size: 1.2em;
  margin: 10px 30px 10px;
  transition: background-color 0.3s ease;
}

.patient_card button {
  align-self: center;
  margin: 40px 80px 10px;
  padding: 10px 10px;
  font-size: 17px;
  background-color: #0a5c5c;
  color: #fff;
  height: 50px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}

.patient_card:hover {
  background-color: #f5f5f5;
  transition: background-color 0.3s ease; /* Animă schimbarea culorii de fundal pe o perioadă de 0.3 secunde */
  transform: scale(1.05);
}
.patient_card button:hover {
  background-color: #006666;
}

.addPetButton {
  margin-top: -60px;
  margin-bottom: 100px;
  margin-left: 730px;
  padding: 15px 14px;
  font-size: 18px;
  background-color: #0a5c5c;
  color: #fff;
  height: 50px;
  border: none;
  width: 250px;
  border-radius: 24px;
  cursor: pointer;
  z-index: 2;
}
.addPetButton:hover {
  background-color: #006666; /* Schimbă culoarea de fundal la hover */
  transition: background-color 0.3s ease; /* Animă schimbarea culorii de fundal pe o perioadă de 0.3 secunde */
  transform: scale(1.05);
}
.emptyElement {
  grid-column: span 3;
  margin-top: -35px;
  margin-left: 0px;
  margin-bottom: -10px;
}

.containerSerach {
  margin-top: -220px;
  margin-left: 530px;
  margin-bottom: 0px;
}
.dogic {
  width: 300px;
  height: 200px;
  margin-top: 13px;
  margin-left: 600px;
  z-index: 3;
}
